<mat-spinner class="loadder" *ngIf="loader"></mat-spinner>
<div style="margin-top: 10px;" class="content" [ngClass]="{'dark-overlay':loader}">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title"> <img style="cursor: pointer;" (click)="showHideInputSection()"
                        class="div-toggle" src="../../../assets/icons/icons/div-toggle.png">Application Input </h4>
                <div class="basic-form" *ngIf="showInputSection" [@inOutAnimation]>
                    <form [formGroup]="moduleForm" (ngSubmit)="onSubmit(moduleForm)">



                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label>Application Name</label>
                                <p style="color: red;"
                                    *ngIf="moduleForm.get('applicationName').touched && moduleForm.get('applicationName').invalid">
                                    Enter Name For Application!</p>
                                <input formControlName='applicationName' class="form-control"
                                    placeholder="Enter Name For Application" maxlength="255">

                            </div>


                            <div class="form-group col-md-4">
                                <label>Model ADF Library</label>
                                <p style="color: red;"
                                    *ngIf="moduleForm.get('modelAdfLib').touched && moduleForm.get('modelAdfLib').invalid">
                                    Enter Model ADF Library!</p>
                                <input formControlName='modelAdfLib' class="form-control"
                                    placeholder="Enter Model ADF Library" maxlength="255">

                            </div>


                            <div class="form-group col-md-4">
                                <label>View ADF Library</label>
                                <p style="color: red;"
                                    *ngIf="moduleForm.get('viewAdfLib').touched && moduleForm.get('viewAdfLib').invalid">
                                    Enter Model ADF Library!</p>
                                <input formControlName='viewAdfLib' class="form-control"
                                    placeholder="Enter View ADF Library" maxlength="255">

                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">

                                <label>Module</label>
                                <app-autocomplete [array]="modulesArray" [isLoading]="isLoading"
                                    [form]="moduleForm" formControlName="moduleId" placeholder="Select Module"
                                    component="Module" [trigger]="trigger">
                                </app-autocomplete>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Sub Modules</label>
                                <app-autocomplete [array]="subModulesArray" placeholder="Select Sub Module"
                                    formControlName="subModuleId" [form]="moduleForm" clientSide="true"
                                    [isLoading]="isLoading" [trigger]="trigger">
                                </app-autocomplete>

                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label>Appl</label>
                                <p style="color: red;"
                                    *ngIf="moduleForm.get('applicationName').touched && moduleForm.get('applicationName').invalid">
                                    Enter Name For Application!</p>
                                <input formControlName='appl' class="form-control"
                                    placeholder="Enter Name For Application" maxlength="255">

                            </div>

                            <div class="form-group col-md-6">
                                <label>Java Object</label>
                                <p style="color: red;"
                                    *ngIf="moduleForm.get('applicationName').touched && moduleForm.get('applicationName').invalid">
                                    Enter Name For Application!</p>
                                <input formControlName='javaObj' class="form-control"
                                    placeholder="Enter Name For Application" maxlength="255">

                            </div>
                        </div>


                        <div style="width: 100%;">
                            <div class="btn-right" style="position: relative; float: right;"> <button
                                    style="margin: 5px;" type="submit" class="btn btn-dark"
                                    [disabled]="moduleForm.invalid || loader">Search
                                </button>
                            </div>
                        </div>


                    </form>







                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Applications <button *ngIf="!isConsultant" class="btn btn-dark"
                        style="margin-left: 5px; float:right;" [routerLink]="['/module-insert-screen']">
                        Add New Application</button></h4>
                <div class="table-responsive">
                    <table mat-table matSortDirection="desc" [dataSource]="dataSource"
                        class="table table-striped table-bordered zero-configuration">

                        <ng-container matColumnDef="edit">
                            <th style="width: 30px !important;" mat-header-cell *matHeaderCellDef> </th>
                            <td style="width: 30px !important;" matmat-cell *matCellDef="let element "
                                style="text-align: center;">
                                <span> <img class="menu-img" [matMenuTriggerFor]="menu"
                                        src="../../../assets/icons/icons/menu.png" title="Menu"></span>
                                <mat-menu #menu="matMenu">
                                    <button (click)="openEditForm(element)" mat-menu-item>
                                        <img src="../../../assets/icons/icons/edit.png" class="menu-icon">
                                        Edit
                                    </button>
                                    <!--for release manager and admin only -->
                                </mat-menu>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="appName">
                            <th style="width: 80px !important;" mat-header-cell *matHeaderCellDef> Application Name</th>
                            <td style="width: 80px !important;" matmat-cell *matCellDef="let element ">
                                {{element.applicationName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="moduleAdf">
                            <th style="width: 80px !important;" mat-header-cell *matHeaderCellDef> Module ADF</th>
                            <td style="width: 80px !important;" matmat-cell *matCellDef="let element ">
                                {{element.moduleAdfLib}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="viewAdf">
                            <th style="width: 80px !important;" mat-header-cell *matHeaderCellDef> View ADF</th>
                            <td style="width: 80px !important;" matmat-cell *matCellDef="let element ">
                                {{element.viewAdfLib}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="subModuleName">
                            <th style="width: 80px !important;" mat-header-cell *matHeaderCellDef> SubModule </th>
                            <td style="width: 80px !important;" matmat-cell *matCellDef="let element ">
                                {{element.subModuleName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="appl">
                            <th mat-header-cell *matHeaderCellDef>Appl</th>
                            <td matmat-cell *matCellDef="let element ">
                                {{element.appl}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="javaObj">
                            <th mat-header-cell *matHeaderCellDef>Java Object</th>
                            <td matmat-cell *matCellDef="let element ">
                                {{element.javaObj}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="javaObjVer">
                            <th style="width: 40px !important;" mat-header-cell *matHeaderCellDef>Version
                            </th>
                            <td style="width: 40px !important; text-align: center;" matmat-cell
                                *matCellDef="let element ">
                                {{element.javaObjVersion}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                    <mat-spinner *ngIf="dataTableIsLoading"></mat-spinner>
                    <div style="text-align: center; size:16px; font-weight: bold;"
                        *ngIf="modules.length==0 && !dataTableIsLoading "> No Data
                    </div>
                    <mat-paginator [pageSizeOptions]="[5,10, 50, 100]" showFirstLastButtons [length]="length"
                        (page)="paginatorEvent($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>