<div class="login-form-bg h-200" style="margin-top:50px">
    <div class="container h-200">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="index.html">
                                <h4>Profile</h4>
                            </a>

                            <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">

                                <div class="form-group">
                                    <label>Name</label>
                                    <app-autocomplete [array]="" placeholder="Select Client Name" formControlName="name"
                                        [isLoading]="false" [form]="userForm" component="User">
                                    </app-autocomplete>

                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" placeholder="Username"
                                        formControlName="username">
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <input type="text" class="form-control" placeholder="Role" formControlName="role">
                                </div>

                                <div *ngIf="isConsultant" style="margin-left: 23px;" class="form-group">
                                  
                                    <label>
                                    <mat-checkbox type="checkbox" formControlName="consultant"
                                    style=" margin-left: 10px;" ></mat-checkbox> Consultant</label>
                                </div>

                                <button (click)="changePassword()" class="btn btn-success submit w-50">Change
                                    Password
                                </button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>