body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.loadder {
  position: relative;

  margin: 0 auto;
  width: 50%;
  height: 50%;
  z-index: 3000;
  color: gray;
}

.mat-spinner-color::ng-deep circle {
  stroke: #c53333 !important;
}