<div class="container h-300">
    <div class="row justify-content-center h-100">
        <div class="col-xl-12">
            <div class="form-input-content">
                <div class="card login-form mb-0">
                    <div class="card-body pt-5">
                        <a class="text-center" href="index.html">
                            <h4>Change Password</h4>
                        </a>

                        <form #changeForm="ngForm" class="mt-5 mb-5 login-input"
                            (ngSubmit)="changePassword(changeForm)">

                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="oldPassword" ngModel
                                    name="oldPassword" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="New Password" ngModel
                                    name="newPassword" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password" ngModel
                                    name="confPassword" required autocomplete="off">
                            </div>
                            <button [disabled]="!changeForm.valid" class="btn btn-success submit w-100">Change
                                Password</button>
                        </form>

                        <app-alert></app-alert>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>